

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Indie+Flower&display=swap');

    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1 {
    font-family: 'Dancing+Script';
}

/*barra de navegação*/

#menu {
    width: 100%;
    height: 3rem;
    text-align: center;
    list-style: none;
    padding-top: 0%;
    background-color: #181818;
    position: fixed;
    z-index: 1;
}
.fundo_menu {
    background-color: #181818;
    height: 3rem;
}
#menu li{
    display: inline;
}
#menu  li a{
    color:#fff;
    padding:5px;
    display:inline-block;
    text-decoration: none;
    transition: background .3s;
    
}

#menu  li a:hover {
    background-color: #3283d4;
}
   /*container principal*/ 

.container{
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*titulo principal*/
.logo{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#3283d4;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    height: auto;
    background-color: #ffffff;
}
main h1 {
        text-align: center;
        font-family: "Indie Flower", cursive;
        font-weight: 100px;
        font-style: normal;
        color:#000000
}
main h2 {
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-weight: 100px;
    font-style: normal;
    color:#000000
}
/* carrosel de fotos*/
#carousel img{
    margin-left: 2rem;
    margin-right: 2rem;
}
#carousel {
    width: 80%;
    max-width: 800px;
    max-height: auto;
    display: flex;
    align-items: center;
}
/*titulos secundários*/
.titulo_h2{
    text-justify: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.apresentação{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    height: auto;
    text-align: justify;
    font-size: 30px;
}
.descrição {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding-inline: 2rem;
}
.apresentação img {
    width: 25%;
    height: auto;
    border-radius: 50px;
}
.fotos-1{
    margin: 1rem;
    max-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* tamanho das fotos*/
.fotos-1 img{
       max-width: 400px;
}
/* Icone whatsapp*/
.contato{
    position: fixed;
    bottom:60px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01e675;
    color:#ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 100;
    transition: all 0.4s;
}
.contato:hover {
    opacity: 0.8;
}
/* icone instagram*/
.instagram{
    position: fixed;
    bottom:120px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    color:#ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 100;
    transition: all 0.4s;
}
.instagram:hover {
    opacity: 0.8;
}
/*pacotes de fotos*/
.valores{
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pacotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #f5f5f5;
    margin-left: 1rem;
    margin-bottom: 1rem;
    min-width: 30%;
    height: auto;
    background-color: #040404;
    border: 2px solid #fefefe;
    border-radius: 10px;
    transition: all 0.4s;
}
.pacotes:hover {
    background-color: #181818;
    border-color: #181818;
}
.pacotes_titulo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.valores img{
    max-width: 60%;
    height: auto;
    border: 2px solid #000000;
    border-radius: 5px;
}
footer {
    width: 100%;
    color:#f5f5f5;
}
#footer_cont {
    background-color: #0e0c0c;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:(1fr, 1fr, 1fr);
    padding: 3rem 3.5rem;
}
#footer_cont h1 {
    margin-bottom: 0.75rem;
}
.footer_list {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
}
.footer_list .footer-link {
    text-decoration: none;
    color:#8f8d8d;
    transition: all 0.4s;
}
.footer_list .footer-link:hover {
    color: #7f37c9;
}
#identify{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#identify p {
    color: #8f8d8d;
}
#footer_cont {
    text-align: center;
    display: flex;
    justify-content: space-around;
}
#footer_contatos img {
    width: 5%;
    max-width: 200px;
    height: auto;
    border-radius: 10%;
}

/* Responsividade da pagina voltada para smartphones*/
@media screen and (max-width: 1233px) {
    .container{
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        align-items: center;
    }
    #carousel img{
        margin-left: 0;
        margin-right: 0;
    }
    #carousel {
        width: 100%;
    }
    .apresentação {
        flex-direction: column;
        font-size: 15px;
    }
    .descrição {
        max-width: 100%;
        padding-inline: 2rem;
    }
    .apresentação img {
        width: 85%;
        border-radius: 30px;
    }
    .fotos-1 {
        flex-direction: column;
        margin: 0;
    }
    .valores{
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
    }
    #footer_cont {
        align-items: center;
        text-align: justify;
        flex-direction: column;
        margin-top: 1rem;
    }
}


